html{
    font-size: 62.5%;
}


p{
    text-align: justify;
}

.titulo{
    font-size: 3rem;
    color: blue;
    font-family: Geneva;
    font-style: oblique;
    text-align: center;
}

.centro{
    width: 100rem;
    margin: 0 auto;
}

.titulo2{
    color: rgb(67, 216, 216);
    font-size: 2rem;
}

.navegar{
    background-color: rgb(71, 66, 66);
}

.navegar a{
    font-style: oblique;
    text-decoration: none;
    padding: 1rem;
    color: rgb(248, 248, 248);
}

.navegar a:hover{
    background-color: rgb(28, 28, 31);
    color: white;
}

.navegar2{
    display: flex;
    justify-content: space-between;
    font-size: 300%;
}



.centrar{
    text-align: center;
}

.separar{
    display: flex;
    justify-content: space-between;
}

.separar2{
    padding: 2rem;
}

.centrar1{
 text-align: center;
}

.boton a{
    background:url(/img/R.png);
  text-decoration: none;  
  background-color: blanchedalmond;
  padding: 1rem;
  border-radius: 3rem;
}

@media (max-width:768px){
    .navegar2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.margen{
    -webkit-box-shadow: 19px 37px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 19px 37px 36px 0px rgba(0,0,0,0.75);
box-shadow: 19px 37px 36px 0px rgba(0,0,0,0.75);
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
    padding-right: 100px;
}
.yeezy-link {
    color: rgb(0, 255, 34);
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}

.yeezy-link:hover {
    color: rgb(60, 56, 56);
    font-size: 32px;
    background-color: black;
    padding: 10px 20px;
}

footer {
    background:url(/img/download.jpg );
    padding: 70px 0 40px 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size:100% 100%;
color: #fff;
    
}

p {
    color:rgb(0, 8, 24)
}
